*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Roboto,sans-serif";
 }
 
header{
    background-color: #091739;
    padding: 20px ;
    color: #fff;
    justify-content: center;
}

.container {
    max-width: 960px;
    width: 25%;
    margin: 0 auto;
}

.form-campo{
    margin-bottom: 16px;
}

.form-campo label{
    font-size:x-large;
}

.form-campo input,
.form-campo textarea
 {
    font-size: 20px;
    width: 25% ;
    display: block;
    padding: 6px;
}

